<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-8">
		<%= form_for :upload do |f| %>
		<label class="btn btn-lg btn-secondary" for="upload_image">
		  <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg',  style: 'display:none;' %>
		  upload image
</label>
  <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>

		<% end %>
		<br><br>
	<% @processed_images.each do |pi| %>
		<img src="<%= pi.local_src.gsub('public/','') %>">
	<% end %>
</div>
	<div class="col-xs-3"></div>
</div>