<% if @processed_images.count == 0 %>
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-8 img-box">
				<h4>No images processed so far.</h4>
		</div>
	</div>
<% else %>	
	<% @processed_images.each do |pi| %>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-8 img-box">
	  	  		<div class="img-box-controls"><i class="fa fa-circle-o-notch fa-spin" id="loading" style="display:none;"></i><%= link_to "delete", destroy_img_path(id: pi.id), method: :delete, remote: true %></div>
	  			<div class="img-box-img"><img src="<%= pi.local_src.gsub('public/','') %>"></div>
			</div>
		</div>
	<% end %>	
<% end %>